body {
    color: #000;
    font-style: normal;
}

.jumbotron-custom {
    background-image: url(../images/Comp.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
}
.mask {
    width: 100%;
    height: 100%;    
    background-color: rgba(29, 153, 57, 0.8);    
    padding-bottom: 220px;
}
.top-info {
    display: flex;
}
.intro {
    background-color: #fff;
    margin-top: 53px;
    width: 80%;
}
.country-wrapper img {
    width: 18px;
}
.country-wrapper {
    display: flex;
}
.mainInIntro {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 15px 0;
}
.logo img {
    width: 80px;
    margin-top: -8px;
}
.country-img {
    width: 30px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 50%;
    padding-left: 5px;
}
.country {
    margin-left: 10px;
}
.email {
    font-style: normal;
    margin-left: 15px;
}
li {
    list-style-type: none;
}
.email-wrapper {
    display: flex;
    margin-top: 3px;
}
.menu {
    display: flex;
    justify-content: space-evenly;
    padding: 5px 20px 10px 0;
}
.menu li {
    font-style: normal;
    font-weight: 600;
    margin-left: 18px;
}
.menu li:hover {
    cursor: pointer;
}
.mainInfo {
    width: 450px;
    color: #fff;
    font-style: normal;
    margin-top: 50px;
}
.heading {
    font-size: 30px;
}
.strip {
    height: 3px;
    width: 100px;
    background-color: #eb5635;
    margin: 15px 0;
}
.header-info,
.header-text{
    width: 370px;
}
.header-info {
    font-size: 30px;
    font-weight: 600;
    padding-top: 5px;
}
.header-text {
    font-size: 13px;
    margin-top: 10px;
    color: #777371;
}
.btns {
    display: flex;
    width: 330px;
    text-transform: uppercase;
    margin-top: 20px;
}
.btn1 {
    margin-right: 15px;
    color: #fff;
}
.btn2 {
    background-color: #fff !important;
    transition:  .7s ease;
}
.btn2:hover {
    background-color: #eb5635 !important;
}
.btn {
    width: 122px;
    background-color: #eb5635;
    border-radius: 30px;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
}
.man-info {
    margin-left: 110px;
}
.about-man {
    font-style: normal;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    padding-bottom: 35px;
}
.man-block-info {
    font-size: 25px;
    display: flex;
}
.man-info span {
    width: 60px;
    color: lightgrey;
    font-size: 12px;
    margin-left: 6px;
    line-height: 12px;
    margin-top: 9px;
}
.man-info .strip {
    margin-top: 7px;
}
.man-info-heading {
    font-size: 25px;
    color: #686868;
}
.man-heading-wrapper {
    display: flex;
}
.man-block-info {
    color: #4f4f4f;
}
.vacation-city-wrapper {
    display: flex;
}
.about-man img {
    height: 400px;
}
.man-block-text {
    color: #ededed;
}
.envelope-wrapper {
    width: 30px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 50%;
    padding: 2px 0 5px 5px;
}
.fa-envelope:before {
    color: #000;
}
.menu-wrapper {
    display: flex;
    justify-content: space-evenly;
}
.socials {
    display: flex;
}
.socials i {
    color: #fff !important;
}
.socials li {
    width: 32px;
    height: 32px;
    border: 1px solid transparent;
    border-radius: 50%;
    padding: 3px 0 0 7px;
    margin-right: 10px;
}
.socials li:hover {
    cursor: pointer;
}
.facebook-icon {
    background-color: #407a86;
}
.twitter-icon {
    background-color: #41b7cc;
}
.youtube-icon {
    background-color: #eb5635;
}
.fa-facebook-f:before {
    padding-left: 3px;
}
.country-wrapper i {
    margin: 5px 0 0 10px;
}
.country-wrapper {
    cursor: pointer;
}
.menu i {
    margin: 5px 0 0 4px;
}
.first-block {
    width: 360px;
    display: flex;
    background-color: #fff;
}
.first-block-img {
    width: 180px;
    height: 100%;
}
.first-block-text {
    margin: 0 auto;
    width: 170px;
}
.about-game-title,
.second-block-title{
    font-size: 25px;
    color: #4b4b4b;
}
.about-game-subtitle {
    color: #bcbcbc;
    width: 150px;
    margin-top: 15px;
}
.about-game-btns {
    color: #eb5635;
    font-weight: 600;
}
.about-game-btn1,
.about-game-btn2 {
    display: flex;
    margin-top: 15px;
}
.about-game-btn1-number,
.about-game-btn2-number {
    border: 2px solid #eb5635;
    border-radius: 50%;
    padding: 4px 13px;
    transition: .7s ease;
}
.about-game-btn1-number:hover,
.about-game-btn2-number:hover {
    background-color: #eb5635;
    color: #fff;
    cursor: pointer;
}
.about-game-btn1-text,
.about-game-btn2-text {
    margin-left: 15px;
    margin-top: 4px;
}
.about-game-btn1 {
margin-top: 45px;
}
.view-btn {
    color: #fff;
    margin-top: 40px;
}
.second-block {
    width: 200px;
    background-color: #fff;
    margin: 0 15px;
}
.carImg {
    width: 100%;
    height: 200px;
}
.second-block-title {
    width: 150px;
    margin-top: 15px;
}
.second-block-info {
    width: 150px;
    margin: 0 auto;
}
.about-game {
    background-color: #fafafa;
}
.about-game-btn2 {
    margin-bottom: 10px;
}
.third-block {
    width: 380px;
    background-image: url(../images/warrior.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-weight: 100;
}
.homefront {}
.ios7 {
    width: 64px;
    height: 21px;
    background-color: #eb5635;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin: 25px 0;
}
.third-block-text {
    width: 155px;
    margin-left: 15px;
    /*position: absolute;*/
    /*right: 40px;*/
}
.third-block-title {
    font-size: 25px;
    font-weight: 400;
}
.third-block-title span {
    font-weight: 700;
}
.third-block-btn {
    background-color: transparent;
    border: 3px solid #fff;
    color: #fff;
    margin: 15px 0 25px 0;
    transition: .7s ease;
}
.third-block-btn:hover {
    background-color: #eb5635;
    border-color: #eb5635;
}
.first-block-btn {
    margin-top: 30px;
}
.third-block-subtitle {
    font-weight: 400;
    font-size: 18px;
    color: #dbdbdb;
    margin-top: 10px;
}
.block-wrapper {
    display: flex;
    justify-content: center;
    height: 420px;
    margin-top: -90px;
    position: relative;
    z-index: 5000;
}
.about-people .strip {
    width: 35px;
    position: absolute;
}
.about-people {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
}
.about-people-title {
    font-size: 23px;
    font-weight: 700;
    width: 200px;
    position: relative;
}
.about-people-text {
    color: #999999;
    font-style: italic;
    font-weight: 600;
}
.about-people-text span {
    color: #eb5635;
}
.slick-slide img {
    display: block;
    width: 60px;
    height: 60px;
}
.slider_inner {
    position: relative;
}
.slick-prev {
    left: -67px;
}
.slick-btn {
    position: absolute;
    top: 0;
    z-index: 3;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    cursor: pointer;
    outline: none;
    background-color: #3a3a3a;
}
.slick-btn:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
.slick-next {
    right: -15px;
    background-color: #eb5635;
}
.fa-arrow-left:before,
.fa-arrow-right:before {
    color: #fff;
}
.slider {
    background-color: #fafafa;
    padding: 25px 0 50px 0;
    margin-top: 15px;
}
.workWithUs {
    display: flex;
}
.workWith {
    background-color: #fafafa;
}
.vacancies {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.nameOfVacancies {
    font-size: 25px;
    font-weight: 700;
}
.location-wrapper {
    display: flex;
    margin-top: 5px;
    color: #b1b1b1;
}
.fa-map-marker-alt:before {
    color: #eb5635;
}
.location-wrapper .fas {
    margin-top: 4px;
    margin-right: 8px;
}
.vacation-time {
    margin-left: 30px;
}
.fa-clock:before {
    margin-right: 5px;
}
.vacation-info {
    color: #b1b1b1;
}
.left-vacancies,
.right-vacancies{
    width: 600px;
    background-color: #fff;
    padding: 20px 30px 20px 50px;
}
.left-vacancies {
    margin-right: 18px;
}
.btnToApply {
    background-color: transparent;
    border: 1px solid #eb5635;
    color: #eb5635;
    margin-top: 15px;
    transition: .7s ease;
}
.btnToApply:hover {
    background-color:  #eb5635;
    color: #fff;
}
.vacation-info {
    margin-top: 8px;
}
.userImg img {
    width: 50px;
    margin-right: 15px;
    margin-left: 20px;
}
.blog-info-wrapper,
.press-info-wrapper{
    display: flex;
    background-color: #fff;
}
.blog-info-wrapper {
padding-bottom: 20px;
}
.user-text {
    width: 250px;
}
.user-text-heading,
.pressWrapperTitle{
    font-size: 17px;
    font-weight: 700;
    width: 175px;
    margin-top: -6px;
    line-height: 20px;
}
.pressWrapperTitle {
    width: 100%;
}
.infoForUser {
    background-color: #fafafa;
}
.blog-info-title,
.press-info-title,
.tweets-info-title{
    margin-top: 25px;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 8px;
}
.blog-info-title {
    margin-bottom: 15px;
}
.user-text-data {
    color: #b1b1b1;
    font-size: 14px;
    margin-top: 3px;
}
.infoForUserWrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 70px;
}
.blog,
.press,
.tweets{
    height: 320px;
    width: 320px;
    background-color: #fff;
    padding: 0 15px;
    margin: 0 8px;
}
.tweets {
    height: 280px;
}
.press-info-wrapper {
    display: block;
    /*padding-left: 20px;*/
}
.pressWrapperText {
    color: #b1b1b1;
    margin-top: 8px;
    font-size: 15px;
}
.readMore {
    color: #eb5635;
    margin: 12px 0;
}
.envelope-wrapper:hover {
    border-color: #000;
    cursor: pointer;
}
.tweetsWrapperText {
    color: #b1b1b1;
    margin-top: 8px;
    font-size: 15px;
}
.tweetsWrapperText span {
    color: deepskyblue;
}
.tweetsAfter {
    color: deepskyblue;
    margin-top: 30px;
}
.footerRow1 img {
    height: 40px;
}
.footerMenu {
    display: flex;
    margin-top: 7px;
}
.footerRow1 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color: #2e343b;
    font-weight: 600;
    font-size: 14px;
}
.footerMenu li {
    margin-right: 22px;

}
.footerCountry {
margin-top: 7px;
}
.footerMenuWrapper {
    display: flex;
}
.footerStrip {
    height: 1px;
    width: 100%;
    background-color: #f2f2f2;
    margin-top: 15px;
}
.footerRow2 {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    font-family: "Times New Roman";
    font-size: 13px;
}
.copyright {
    margin-left: 10px;
}
.privacy {
    margin-right: 10px;
}
.footer {
    padding-bottom: 50px;
}
@media screen and (max-width: 1280px) {
    .block-wrapper {
        display: block;
        height: 100%;
        margin: 0;
    }
    .first-block,
    .second-block,
    .third-block
    {
        margin: 15px auto;
    }
    .about-game {
        background-color: transparent;
    }
    .slider_inner {
        width: 300px;
        margin: 0 auto;
    }
    .slick-next {
        right: -27px;
    }
}
@media screen and (max-width: 991px) {
    .vacancies {
        display: block;
    }
    .infoForUserWrapper {
        display: block;
    }
    .infoForUserWrapper > div {
        width: 280px;
        margin: 0 auto;
    }
    .right-vacancies {
        margin-top: 15px;
    }
    .menu {
        display: none;
        position: absolute;
        /*width: 80%;*/
        left: 2%;
        top: 55%;
        text-align: center;
        margin-left: 50px;
        background-color: #2e343b;
        color: #fff;
        border-radius: 10px;
    }
    .about-man img {
        height: 240px;
    }
    .menu li {
        display: block;
        width: 100px;
    }
    .menu-btn {
        width: 30px;
        height: 20px;
        position: relative;
        margin-top: 12px;
        margin-left: 5px;
    }
    .menu-btn:hover {
        cursor: pointer;
    }
    .menu-btn span{
        width: 100%;
        height: 2px;
        background-color: #000;
        position: absolute;
        top: 9px;
    }
    .menu-btn:after,
    .menu-btn:before{
        content: '';
        width: 100%;
        height: 2px;
        background-color: #000;
        position: absolute;
    }
    .menu-btn:after {
        top: 0;
    }
    .menu-btn:before {
        bottom: 0;
    }
    .menu-wrapper {
        padding-bottom: 15px;
    }
    .menu-wrapper {
        justify-content: space-between;
    }
    .mainInIntro {
        display: block;
        text-align: center;
        justify-content: center;
    }
    .country-wrapper {
        justify-content: center;
    }
    .envelope-wrapper {
        padding: 2px 0 0 1px;
    }
    .country-img {
        padding-left: 0;
    }
    .email-wrapper {
        justify-content: center;
        margin: 8px 0;
    }
}
@media screen and (max-width: 768px) {
    .about-man {
        display: block;
        text-align: center;
    }
    .man-heading-wrapper {
        justify-content: center;
        margin-top: 10px;
    }
    .footerMenu {
        display: block;
    }
    .man-info .strip {
        margin: 0 auto;
    }
    .man-info .strip {
        display: none;
    }
    .man-info {
        margin-left: 0;
    }
    .left-vacancies,
    .right-vacancies {
        width: 280px;
        margin: 8px auto;
    }
    .location-wrapper {
        display: block;
    }
    .vacation-time {
        margin-top: 5px;
    }
}
@media screen and (max-width: 550px) {
    .first-block {
        display: block;
        text-align: center;
        width: 300px;
    }
    .first-block,
    .second-block,
    .third-block {
        width: 300px;
    }
    .about-people,
    .workWithUs{
        display: block;
    }
    .about-people-title {
        margin: 0 auto;
    }

}
@media screen and (max-width: 480px) {
    .slick-btn {
        width: 30px;
        height: 30px;
        top: 15px;
    }
    .slick-slide img {
        margin: 0 auto;
    }
    .slick-prev {
        left: 70px;
    }
    .slick-next {
        right: 70px;
    }
}
@media screen and (max-width: 450px) {
    .menu-wrapper {
        display: block;
    }
    .about-man img {
        display: none;
    }
    .menu-btn {
        margin: 0 auto;
    }
    .socials {
        justify-content: center;
        margin-top: 8px;
    }
    .menu {
        left: 12%;
        top: 56%;
    }
    .footerRow2 {
        display: block;
        text-align: center;
    }
    .mainInfo {
        width: 300px;
    }
    .header-info,
    .header-text {
        width: 300px;
    }
    .mask {
        padding-bottom: 250px;
    }
    .email {
        font-size: 12px;
        margin-top: 5px;
    }
    .btns {
        width: 300px;
    }
}
@media screen and (max-width: 390px) {
    .menu {
        left: 6%;
    }
}


/*.people-name {*/
/*    color: #eb5635;*/
/*    width: 330px;*/
/*    font-size: 23px;*/
/*    font-weight: 600;*/
/*}*/
/*.people-name span {*/
/*    color: #999999;*/
/*    font-style: italic;*/
/*    font-size: 17px;*/
/*    font-weight: 400;*/
/*}*/











 
